#root {
  color: rgb(24, 23, 23);
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f9f9f9;
  color: #333;
}

#root {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}


#show-selector,
#search-input {
  grid-column: 1 / -1; 
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#search-input {
  margin-top: 5px;
}


.episode {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.episode h2 {
  font-size: 18px;
  margin-bottom: 8px;
  color: #222;
}

.episode p {
  margin: 0 0 10px 0;
  font-size: 14px;
  font-we
}